.login-wrapper {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    width: 40%;
    min-width: 400px;
    align-items: flex-start;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input[type=submit] {
    background-color: black;
    color: white;
    width: 98%;
    min-height: 30px;
}


input[type=email] {
    min-height: 25px;
    width: 100%;
}

input[type=password] {
    min-height: 25px;
    width: 100%;
}

.forgot-password {
    align-self: flex-end;
    color: gray;
}

h4 {
    color: gray;
    margin-top: 1px;
}

h1 {
    margin-bottom: 0px;
}
